<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Chatbot</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <head>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
 <div class="login">
	<h1>Chatbot</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" id="predictInput" name="experience" placeholder="User input" required="required" onchange="sendData()" />

        <button type="button" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>

 <script>
  const sendData = async (data) => {
    const response = await axios.post(`http://127.0.0.1:5000/predict`,{input : document.getElementById("predictInput").value});
  }
 </script>

</body>
</html>